
.Upper
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    background:transparent;
    position:fixed;
    left:0;
    top:0;
    background: linear-gradient(to bottom, black, transparent); 
    /* transition:background 0.5s ease; */
}

.logo
{
    height: 7rem;
    width: 15rem;
}

.logoutBtn
{   
    height: 3rem;
    margin-right: 1rem;
    width: 5rem;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: red;
    outline: none;
    border: none;
    font-weight: bold;
}





