.BackGroundVideo
{
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 0;
    /* margin-top: -6%; */
}
.FirstPart
{
    position: absolute;
    overflow: hidden;
    width: 100%;
    margin: 0%;
    padding: 0;
    

}

.Title
{   width: 40%;
    margin-top: 15%;
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
    color: red;

}

.OverView
{   
    width: 30%;
    margin-left: 1rem;
    font-size: 0.9rem;
    font-weight:700;
    color:white;
    margin-top: -2rem;
    
}

.infoBn
{
    display: flex;
    width: 15%; 
    justify-content: space-around;
    align-items: center;
    margin-left: 1rem;
}

.Btn
{
    height: 3rem;
    width: 7rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    border: 2px solid black;
    background-color: rgb(173, 159, 159);
    cursor: pointer;
    color: white;
    padding: 15px;
    
}

.Btn:hover
{
    background-color: rgb(102, 94, 94);
}
.BackGroundVideo
{
    
    overflow: hidden;
}
.BackgroundTrailer
{

    padding: 0;
    margin-top: -1.7%;
    outline: none;
    border: none;
    width: 100%;
    height: calc(100vw * 9/16);
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    
    

}