nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(168, 232, 49);
    padding: 10px 8px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.navbar
{

}