nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(16, 162, 211);
    padding: 6px 18px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

.navbar
{
    display: flex;
    align-items: center;
    justify-content:center;
   
}

.navbar li
{
    list-style: none;
    padding: 0 30px;
    position: relative;

}

.navbar li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    transition: 0.2s ease-in-out;
}

.navbar li a:hover
{
    color: white;
}


.navbar li a:hover::after,
.navbar li a.active::after
{
    content: "";
    width: 50%;
    height: 3px;
    background-color: rgb(6, 0, 0);
    position: absolute;
    bottom: -1px;
    left: 30px;
}